:root {
  /* Color */
  --button-background: #cf2929;
  --button-background-secondary: #0f6aff;
  --section-background: #dedede;
  --footer-background: #333333;

  /* Font Family */
  font-family: sans-serif;

}

body {
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
}

* {
  /* outline: 1px solid red;  */
  box-sizing: border-box;
}

h3 {
  font-size: 1.17rem;
}


p {
  font-size: 1.2rem;
}

textarea,
input,
select
{
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none; 
  outline: none; 
  box-shadow: none;
}