header {
  width: 100%;
  position: relative;
  z-index: 10;
}

.banner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  line-height: 4rem;
  background-color: var(--section-background);
  overflow-x: hidden;
  font-size: 1.1rem;
}

nav {
  position: fixed;
  top: 4rem;
  width: 100%;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.3s ease-in-out;
  z-index: 1000;
}

.brand-logo {
  max-width: 10.5rem;
  line-height: 1.7rem;
  margin-right: 2rem;
}

.nav-icon {
  width: 2rem;
  height: 2rem;
}

.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3.5rem 5rem;
  border-bottom: 0.1rem solid rgba(108, 107, 107, 0.48);
  background-color: #fff;
  transition: top 0.3s ease-in-out;
}

.nav-container ul {
  display: flex;
}

.nav-container .right {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

.nav-container .left {
  display: flex;
  flex-grow: 1;
}

.nav-container .guide-list li {
  padding-right: 1.5rem;
}

.nav-container li:hover {
  color: var(--section-background);
  cursor: pointer;
  transition: all .3s;
}

.nav-container .guide-list li span {
  font-size: 1.1rem;
}

.nav-container .icon-list {
  display: flex;
  justify-content: right;
}

.nav-container .icon-list li {
  margin-left: 3.5rem;
}



nav {
  display: none;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  padding: 1.05rem 2rem 1.05rem 2rem;
  min-height: 4.4rem;
}

.nav-top .icon {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0.8rem 0;
}

.bland-logo {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bland-logo img {
  width: 7rem;
  padding: 2rem 0;
}

.nav-top-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-top-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.humburger {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.humburger-item {
  display: inline-block;
  width: 2.8rem;
  height: 0.15rem;
  background-color: black;
  margin-bottom: 6px;
}

.nav-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-size: 1.1rem;
  line-height: 3.9rem;
}

.nav-list li:nth-child(4)::after {
  content: "";
  width: 0.1rem;
  background-color: #e5e5e5;
  height:2.0rem;
  right: 0;
  position: absolute;
  margin: 1rem 0;
}

.nav-list-item1 {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  border-top: solid #e5e5e5 0.5px;
}

.nav-list-item2 {
  text-align: center;
  grid-area: 1 / 3 / 2 / 5;
  border-top: solid #e5e5e5 0.5px;

}

.nav-list-item3 {
  text-align: center;
  grid-area: 1 / 5 / 2 / 7;
  border-top: solid #e5e5e5 0.5px;

}

.nav-list-item4 {
  text-align: center;
  grid-area: 2 / 1 / 3 / 4;
  border-top: solid #e5e5e5 0.5px;
  position: relative;

}

.nav-list-item5 {
  text-align: center;
  grid-area: 2 / 4 / 3 / 7;
  border-top: solid #e5e5e5 0.5px;

}




@media (min-width: 1000px) {
  nav {
    display: block;
  }

  .nav-sp {
    display: none;
  }
}